<h3 id="postmode">New Post</h3>
<div class="container">
    <div class="row">
        <div class="col-md-2" id="catelist"></div>
        <div class="col-md-10">
            <div class="container">
                <div class="row">
                    <div class="col-auto">Selected Cate: </div>
                    <div class="col" id="parenttarget"></div>
                </div>
                <div class="row">
                    <div class="col input-group">
                        <span class="input-group-text" id="inputGroup-sizing-default">Title</span>
                        <input type="text" id="title" class="form-control" aria-label=""
                            aria-describedby="inputGroup-sizing-default">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div id="editorjs"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button type="button" class="btn btn-primary" id="saveBtn">Submit</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col" id="output"> </div>
                </div>
            </div>
        </div>
    </div>
</div>